* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero {
    background: url('gym-background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.7rem 2rem;
    background: #ff4d4d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #901d01;
}

section {
    padding: 4rem 1rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.registration-form, .contact-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.registration-form input, .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #fb4747;
    border-radius: 5px;
}

.registration-form button, .contact-form button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.registration-form button:hover, .contact-form button:hover {
    background: #e60000;
}

.packages-container, .offers-container, .gears-container, .nutrition-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.package-box, .offer-box, .gear